:root {
    --key-size: 50px;
    --key-gap: 6px;

    --bg-main: rgb(255, 255, 255);

    --key-bg: #000000;
    --key-hover: #5e5e5e;
    --key-active: #202020;

    --key-shadow:
        0 4px 0 #696969,
        0 6px 10px rgba(0, 0, 0, 0.35);

    --key-shadow-pressed:
        0 2px 0 #5e5e5e,
        0 3px 6px rgba(0, 0, 0, 0.3);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-main);
    color: #fff;

    font-family: "Inter", sans-serif;
}

.keyboard {
    display: grid;
    grid-template-columns: auto 150px 220px;
    gap: 20px;
}

.key {
    height: var(--key-size);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--key-bg);
    border-radius: 10px;

    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 1.1;

    cursor: pointer;
    user-select: none;

    box-shadow: var(--key-shadow);

    transition:
        transform 0.08s ease,
        box-shadow 0.08s ease,
        background-color 0.08s ease;
}


/* Hover */
.key:hover {
    background-color: var(--key-hover);
    transform: translateY(-2px);
}

/* Active */
.key:active {
    background-color: var(--key-active);
    transform: translateY(2px);
    box-shadow: var(--key-shadow-pressed);
}

/* Focus (keyboard navigation) */
.key:focus-visible {
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

.main-keyboard {
    display: grid;
    grid-template-columns: repeat(15, var(--key-size));
    grid-auto-rows: var(--key-size);
    gap: var(--key-gap);
}

.backspace {
    grid-column: span 2;
}

.tab {
    grid-column: span 2;
}

.caps {
    grid-column: span 2;
}

.enter {
    grid-column: span 2;
}

.lshift {
    grid-column: span 2;
}

.rshift {
    grid-column: span 3;
}

.space {
    grid-column: 4 / span 8;
}

.ctrl {
    grid-column: span 1;
}

.control-cluster {
    display: grid;
    grid-template-columns: repeat(3, var(--key-size));
    grid-auto-rows: var(--key-size);
    gap: var(--key-gap);
}

.numpad-grid {
    display: grid;
    grid-template-columns: repeat(4, var(--key-size));
    grid-auto-rows: var(--key-size);
    gap: var(--key-gap);
}

.num-plus {
    grid-row: span 2;
    height: calc(2 * var(--key-size) + var(--key-gap));
}

.num-enter {
    grid-row: span 2;
    height: calc(2 * var(--key-size) + var(--key-gap));
}

.num-zero {
    grid-column: span 2;
    width: calc(2 * var(--key-size) + var(--key-gap));
}
